<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/static/images/" type="image/png">
<link rel="shortcut icon" href="/static/16_16_car.png" type="image/png">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/menu_styles.css">
<link rel="stylesheet" href="/static/display_styles.css">
<title>Cars</title>
</head>

<body>
    
    <ul class="v-menu">
        <form  id="filterManufacturer" ></form>
            <select class="select button" id="selectedManufacturerId">
                {{range .AvailableManufacturers}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
            </select>
        </form>

        <form id="filterCategroies" >
            <select class="select button" id="selectedCategoryId">
                {{range .AvailableCategories}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
            </select>
            <button id="manufacturer" class="button" type="submit"> Filter </button>
        </form>
        <li>
            <button id="compare" class="button"> Compare Models </button>
        </li>
    </ul>

    <div class="h-menu">
    <h2 class=" text-center">Cars website</h2>
    </div>

    <div>
        <form class="viewport" id="compareFrom">  
            {{range .AvailableModels}}
            <div class="car-container">
                <h2 class="text-center">{{.Year}} {{.Name}}</h2>
                <div></div>
                <p class="text-center"> </p>     
                <ul>
                </ul>
                <a href="/model?modelID={{.Id}}">
                    <img class="thumb-img" src="http://localhost:3000/api/images/{{.Phot}}" alt="Car Image">          
                </a>
                <button class=" button text-center" onclick="viewDetails({{.Id}})">View details</button>
                <p><input type="checkbox" name="selectedModels" value="{{.Id}}"> Compare </p>
            
            </div>
            {{end}}
        </form>
    </div>

<script>
function filterManufacturer(event){
    console.log(event)
}

function handleCompare(event){
    event.preventDefault();
    const formData= new FormData(document.getElementById('compareFrom'));
    const selectedModels = formData.getAll('selectedModels'); 
    console.log('selected Models:', selectedModels)
}

function viewDetails(modelId){
    event.preventDefault()
    window.location.assign("/model?modelID="+modelId)
}

document.getElementById('compare').addEventListener('click', function(event){
    handleCompare(event);});
document.getElementById('manufacturer').addEventListener('submit',function(event){
    filterManufacturer(event);
});
</script>

</body>
</html>