<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/static/images/" type="image/png">
<link rel="shortcut icon" href="/static/16_16_car.png" type="image/png">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/menu_styles.css">
<link rel="stylesheet" href="/static/display_styles.css">
<title>Cars</title>
</head>

<body>

    <ul class="v-menu">
        <li>
            <form  id="models" action = "/models" method="POST" enctype ="multipart/form-data"> 
                <button class="button" type="submit"> to the models cave </button>
            </form>
        </li>
        <li>
            <form  id="manufacturer" action = "/manufacturer" method="POST" enctype ="multipart/form-data"> 
                <button class="button" type="submit"> to the manufacturer cave </button>
            </form>
        </li>
        <li>
            <form  id="manufacturer" action = "/modelsCompare" method="POST" enctype ="multipart/form-data"> 
                <button class="button" type="submit"> to the manufacturer cave </button>
            </form>    
        </li>
    <select class="button" id="numberDropdown">
        {{range .AvailableManufacturers}}
        <option value="{{.Id}}">{{.Name}}</option>
        {{end}}
    </select>
    <select class="button" id="numberDropdown">
        {{range .AvailableCategories}}
        <option value="{{.Id}}">{{.Name}}</option>
        {{end}}
    </select>
    </ul>

    <ul class="h-menu">
        <li>
            <form  id="models" action = "/models" method="POST" enctype ="multipart/form-data"> 
                <button class="button" type="submit"> to the models cave </button>
            </form>
        </li>
        <li>
            <form  id="manufacturer" action = "/manufacturer" method="POST" enctype ="multipart/form-data">
                <button class="button" type="submit"> to the manufacturer cave </button>
            </form>
        </li>
        <li>
            <form  id="manufacturer" action = "/modelsCompare" method="POST" enctype ="multipart/form-data">
                <button class="button" type="submit"> to the manufacturer cave </button>
            </form>    
        </li>
    </ul>

    <div class="viewport">
            {{range .AvailableModels}}
            <div class="car-container">
                <h2 class="text-center">{{.Name}}</h2>
                <p>Manufacturer: {{.ManufacturerID}}</p>
                <p>Category: {{.CategoryId}}</p>
                <p class="text-center"> {{.Year}}</p>     
                <h3>Specifications:</h3>
                <ul>
                    <p class="text-left">released {{.Year}}</p>   
                    <li>Engine: {{.Specs.Engine}}</li>
                    <li>Horsepower: {{.Specs.Horsepower}}</li>
                    <li>Transmission: {{.Specs.Transmission}}</li>
                    <li>Drivetrain: {{.Specs.Drivetrain}}</li>
                </ul>
                <img class="thumb-img" src="http://localhost:3000/api/images/{{.Phot}}" alt="Car Image">
            </div>
            {{end}}
            <div>{{.AvailableManufacturers}}</div><br>
            <div>{{.AvailableCategories}}</div><br> 
    </div>

</body>
</html>