<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/static/images/16_16_car.png" type="image/png" />
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/menu_styles.css" />
		<link rel="stylesheet" href="/static/display_styles.css" />
		<title>Cars</title>
	</head>

	<body>
		<ul class="v-menu">
			<h1 class="text-center">Simple Cars</h1>
			<hr />
			<form id="filterForm" action="/filter" method="POST">
				<label class="label" for="selectedManufacturerId">
					Filter cars by manufacturer</label
				>
				<select
					name="selectedManufacturerId"
					class="select button"
					id="selectedManufacturerId"
				>
					<option value="">select manufacturer</option>
					<option value="">show all manufacturer</option>
					{{range .AvailableManufacturers}}
					<option value="{{.Id}}">{{.Name}}</option>
					{{end}}
				</select>
				<div class="menu-container">
					<button id="filterButton" class="select button" type="submit">
						Filter
					</button>
				</div>
				<hr />
				<label class="label-style" for="selectedCategoryId"
					>Filter cars by category</label
				>
				<select
					name="selectedCategoryId"
					class="select button"
					id="selectedCategoryId"
				>
					<option value="">select category</option>
					<option value="">show all categories</option>
					{{range .AvailableCategories}}
					<option value="{{.Id}}">{{.Name}}</option>
					{{end}}
				</select>
				<label class="label" for="selectedManufacturerId">
					Filter cars by manufacturer</label
				>

				<select
					name="selectedManufacturerId"
					class="select button"
					id="selectedManufacturerId"
				>
					<option value="">select transmission</option>
					<option value="">show all Transmission</option>
					{{range.AvailableModels}}
					<option value="{{.Id}}">{{.Specs.Transmission}}</option>
					{{ end}}
				</select>
				<div class="menu-container">
					<button id="filterButton" class="select button" type="submit">
						Filter
					</button>
				</div>
			</form>
		</ul>
		<div>
			<form id="compareFrom" action="/modelscompare" method="POST">
				<div class="viewport">
					{{range .AvailableModels}}
					<div class="car-container">
						<div class="heading-container">
							<h2 class="wrap-text">{{.Name}} - {{.Year}}</h2>
						</div>
						<hr />
						<div class="image-container">
							<a href="/model?modelID={{.Id}}" method="POST">
								<img
									class="thumb-img"
									src="http://localhost:3000/api/images/{{.Phot}}"
									alt="Car Image"
								/>
							</a>
						</div>
						<div class="centered-container">
							<button class="button" onclick="viewDetails({{.Id}})">
								Details
							</button>
						</div>
						<hr />
						<p class="text-body">Tick box to add model to compare list</p>
						<div class="compare-container">
							<input
								class="checkbox-input"
								type="checkbox"
								name="selectedModels"
								id="selectedModels"
								value="{{.Id}}"
							/>
							<button id="compare" class="button-compare" type="submit">
								Compare ticked models
							</button>
						</div>
					</div>
					{{end}}
				</div>
			</form>
		</div>
		<script>
			function viewDetails(modelId) {
				event.preventDefault();
				window.location.assign("/model?modelID=" + modelId);
			}
		</script>
	</body>
</html>
