<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/static/images/16_16_car.png" type="image/png" />
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/menu_styles.css" />
		<link rel="stylesheet" href="/static/display_styles.css" />
		<title>Cars</title>
	</head>

	<body>
		<div class="model-viewport">
			<div class="model-container">
				<h2 class="text-center">{{.CarModel.Name}}</h2>
				<img
					class="thumb-img-model"
					src="http://localhost:3000/api/images/{{.CarModel.Phot}}"
					alt="Car Image"
				/>
				<p class="text-center text-body-model margin10">
					{{.CarCategory.Name}}, Released {{.CarModel.Year}}
				</p>
				<hr />
				<div class="sub-menu-container-model">
					<div class="text-body-model">
						<h3>Manufacturer</h3>
						<p>{{.CarManufacturer.Name}}</p>
						<p>HQ location: {{.CarManufacturer.Country}}</p>
						<p>Founded: {{.CarManufacturer.FoundingYear}}</p>
						<p>released {{.CarModel.Year}}</p>
					</div>
					<div class="sub-menu-container-model">
						<div class="text-body-model margin-left 100px">
							<h3>Specifications</h3>
							<p>Engine: {{.CarModel.Specs.Engine}}</p>
							<p>Horsepower: {{.CarModel.Specs.Horsepower}}</p>
							<p>Transmission: {{.CarModel.Specs.Transmission}}</p>
							<p>Drivetrain: {{.CarModel.Specs.Drivetrain}}</p>
						</div>
					</div>
				</div>

				<div class="center">
					<form
						class="text-center margin10"
						id="home"
						action="/"
						method="POST"
						enctype="multipart/form-data"
					>
						<button type="submit button margin10">Back</button>
					</form>
					<hr/>
					<div class="text-center">
					<button type="button" class="text-center" onclick="printPage()">Print Page</button>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		function printPage() {
			window.print();
		}
	</script>
</html>
