.car-container {
	width: 300 px;
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid gold;
	overflow: hidden;
	word-wrap: break-word;
	justify-content: center;
}
.model-container {
	width: 600px;
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid gold;
	overflow: hidden;
	word-wrap: break-word;
}
.viewport {
	width: 300;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 220px;
	margin-top: 5px;
	padding: 30px;
	padding-top: 5px;
}
.viewport-compare {
	width: 300;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	padding: 1px;
}
.model-viewport {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	padding: 1px;
}

.compare-container {
	width: 250px;
	height: 30px;
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: 0px;
	margin-top: 0px;
	padding: 0px;
}
.centered-container {
	width: 250px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0px;
	margin-top: 0px;
	padding: 0px;
}
