body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E6E6E6 ;
    color:#333333 ;
}
header {
    background-color:#E6E6E6;
    color: #333333;
    padding: 10px;
    text-align: center;
} 
h1{
    color:#333333;
}
nav {
    float: left;
    width: 200px;
    background-color: #E6E6E6;
    padding: 20px;
    box-sizing: border-box;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}


.hs.button{
font-family: Roboto,sans-serif;
background-color: rebeccapurple;
}

.hs{
    color:red;
}

.button{
border-radius: 5px; 
border-width: 1px;
border-color: #333;
}

.thumb-img{
    display: block;
    margin: auto;
    width:200px;
    height:auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}